/* About-specific styles */
.about-container {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 30px;    /* Add this */
  padding-top: 0;   /* Add this */
}


.team-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 250px;
  text-align: center;
  padding: 10px;
  height: 20vh;
  animation: fadeInUp 0.3s ease-in-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.team-name {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
  font-weight: 600;
}

.team-role {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 10px;
}

.team-bio {
  font-size: 0.9rem;
  line-height: 1.4;
  padding: 0 10px 15px;
  color: #171414;
}