/* Features-specific styles */
.features-container {
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: 40px;
  
  
}

.features-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 25vw;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.3s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.feature-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.feature-title {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #484848;
}

.feature-description {
  font-size: 1rem;
  padding: 5px;
  color: #757575;
}

@media (max-width: 768px) {
  .feature-card {
    width: 90vw;
  }
}