/* Keep minimal styles here - mostly reset/base styles */
body {
  margin: 0;
  background: linear-gradient(#2A00B7, #42006C);
  height:100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}